@using Newtonsoft.Json
@model PriceList
@{
    var parametersTypes = ViewBag.ParameterTypes as List<ParameterType>;
    string parameterTypeInRus = string.Empty;
}

<h4>Добавление прайс-листа</h4>
<form asp-controller="PriceList" asp-action="AddPriceList" method="post">
    <div class="row g-3">
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-3">Продолжить</button>
        </div>
        <div class="col-auto">
            <a asp-controller="PriceList" asp-action="Index" class="btn btn-light mb-3">Отмена</a>
        </div>
    </div>
    <div class="mb-3">
        <label for="Name" class="form-label">Название прайс-листа</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Прайс-лист от 22.01.2014">
    </div>
    <table class="table">
        <tbody>
            @for (int i = 0; i < Model.Parameters.Count(); i++)
            {
                <tr>
                    <th>Колонка @(i + 1)</th>
                    <td><input type="text" class="form-control" asp-for="@Model.Parameters[i].Name" value="@Model.Parameters[i].Name" required/></td>
                    <td>
                        <select class="form-select readonly" asp-for="@Model.Parameters[i].Type">
                            @foreach (var parameterType in parametersTypes)
                            {
                                switch (parameterType)
                                {
                                    case ParameterType.Number:
                                        parameterTypeInRus = "Число";
                                        break;
                                    case ParameterType.SingleText:
                                        parameterTypeInRus = "Однострочный текст";
                                        break;
                                    case ParameterType.MultilineText:
                                        parameterTypeInRus = "Многострочный текст";
                                        break;
                                    }
                                if (parameterType == Model.Parameters[i].Type)
                                {
                                    <option value="@parameterType" selected>@parameterTypeInRus</option>
                                }
                                else
                                {
                                    <option value="@parameterType">@parameterTypeInRus</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <form asp-controller="PriceList" asp-action="DeleteParameter" asp-route-name="@Model.Parameters[i].Name" method="post">
                            <input name="parametersArray" hidden value="@JsonConvert.SerializeObject(Model.Parameters)" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>                      
                </tr>
            }
        </tbody>
    </table>
</form>
<form asp-controller="PriceList" asp-action="AddParameter" method="post">
    <input name="parametersArray" hidden value="@JsonConvert.SerializeObject(Model.Parameters)" />
    <button type="submit" class="btn btn-warning text-white">Добавить колонку</button>
</form>     
